:root {
  --blue: rgb(33, 150, 243);
  --black: rgb(38, 43, 51);
  --grey: rgb(125,125,125);
  --red: rgb(255, 102, 102);
  --light-red: rgb(255, 230, 229);
  --green: rgb(14, 110, 58);
  --light-green: rgb(37, 184, 105);
  --input-background: rgb(230, 244, 255);
  --light-grey: rgb(242, 245, 250);
  --test: rgb(228, 231, 237);
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.item {
  flex: calc(50% - 10px);
  margin-bottom: 20px;
  padding-right: 10px;
}

.item > label > span {
  margin-bottom: 5px;
  display: inline-block;
}

.App * input {
  border-radius: 3px;
  padding: 11px 16px;
  display: block;
  caret-color: var(--blue);
  background-color: var(--input-background);
  outline: none;
  border: 0px;
  color: var(--black);
  pointer-events: unset;
  width: calc(100% - 40px);
  margin-right: 20px;
  transition: color 0.1s ease 0s;
}
.input-field-label{
  color: rgb(125,125,125);
}

.text-field textarea {
  border-radius: 3px;
  padding: 11px 16px;
  display: block;
  caret-color: var(--blue);
  background-color: var(--input-background);
  outline: none;
  border: 0px;
  color: var(--black);
  pointer-events: unset;
  width: calc(100% - 40px);
  margin-right: 20px;
  transition: color 0.1s ease 0s;
  height: 250px;
  resize: none;
}
.text-field {
  width: 100%;
}
.text-field span {
  color: var(--grey);
}

.add-link {
  display: flex;
  font-size: 16px;
  padding: 6px 14px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
  color: var(--blue);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: background-color 0.15s ease 0s;
}
.add-link:hover {
  background-color: var(--input-background);
}
.add-link polygon {
  fill: var(--blue);
}

.start-end-container {
  width: 50%;
}
.time-item {
  flex: 50%;
}
.dates {
  display: flex;
  flex-direction: row;
}
.level > span {
  color: var(--grey);
}

.break-line {
  height: 1px;
  background: var(--blue);
  width: 85%;
  margin: 15px auto;
}
.startend-label {
  margin-bottom: 5px;
  display: inline-block;
  color: var(--grey);
}

.remove-link {
  display: flex;
  font-size: 16px;
  padding: 6px 14px;
  margin: 20px 20px 0px;
  border-radius: 4px;
  width: 90%;
  color: var(--blue);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: background-color 0.15s ease 0s;
}
.remove-link:hover {
  background-color: var(--light-red);
}
.remove-link polygon {
  fill: var(--red);
}

.section {
  border: 2px solid var(--light-grey);
  padding: 10px;
}

.sticky-header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: center;
  color: var(--green);
}
.sticky-header-line {
  height: 3px;
  background: var(--light-green);
  width: 85%;
  margin: auto;
  margin-top: 15px;
  border-radius: 50px;
}
.react-datepicker__input-container {
  position: initial !important;
}
.css-chtgcy-container {
  z-index: 1;
}
 .button {
  background-color: var(--blue);
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
 }

.button span{
  font-size: 20px;
  color: white;
}

.preview-mode-header{
  background-color: var(--blue);
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.preview-mode-header span {
 margin-left: 50px; 
 font-size: 20px;
 color: white
}
.accordion {
 display: flex;
 flex-direction: column
}
.accordion > .accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--blue);
  padding: 10px 0 10px 20px;
  margin: 0.83em 0;
  cursor: pointer;
}
.accordion > .accordion-header > button{
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}
.accordion > .accordion-header > svg{
  margin: auto 20px;
  color: white;
  height: 30px;
}
.accordion > .accordion-content {
  margin: 0 10px;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: inherit;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}


.sub-accordion {
  display: flex;
  flex-direction: column;
  border:1px solid #e6ebf4;
  border-radius: 3px;
  margin-bottom: 10px;
 }
 .sub-accordion > .accordion-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 5px;
   padding: 10px 0 10px 20px;
   cursor: pointer;
   color: dimgrey;
   transition: color 150ms ease 0s;
 }
 .sub-accordion > .accordion-header > button{
   font-size: 1em;
   font-weight: 600;
   color: currentColor;
 }
 .sub-accordion > .accordion-header:hover {
  color:var(--blue)
 }
 .sub-accordion > .accordion-header > svg{
   margin: auto 20px;
   color: currentColor;
   height: 30px;
 }
 .sub-accordion > .accordion-content {
   margin: 0 10px;
 }

