.remove-link {
  display: flex;
  font-size: 16px;
  padding: 6px 14px;
  margin: 20px 20px 0px;
  border-radius: 4px;
  width: 90%;
  color: var(--blue);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: background-color 0.15s ease 0s;
  &:hover {
    background-color: var(--light-red);
  }
  polygon {
    fill: var(--red);
  }
}
